html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
img{
    display: block;
    max-width: 100%;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
:root{
    --accent-color: rgba(181, 15, 0, 1);
}
/* text styles */
.text-h1{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 48px;
}
.text-h2{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 40px;
}
.text-h3{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
/* header */
 .header {
    color: var(--accent-color);
    min-height: 570px;
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__title {
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.link {
    color: var(--accent-color);
    text-decoration:none;
}
.logo_link {
    cursor: pointer;
}
.text-h3 {
    cursor: pointer;
}
.sale_link {
    cursor: pointer;
}
.price_link {
    cursor: pointer;
}
.portfolio_link {
    cursor: pointer;
}
.contacts_link {
    cursor: pointer;
}

.sign_up {
    color: rgb(255, 255, 255);
    width: 151px;
    height: 37px;
    font-size: 14px;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    padding: 0;
}
/* about */
.about__title {
    padding-top: 50px;
}
.name {
    max-width: 570px;
    text-align: left;

}
.description {
    margin-top: 32px;
    max-width: 500px;
    text-align: left;
}
.img_description {
    margin-top: 50px;
    float: right;
    width: 550px;
    height: 280px;
}
.sign_up_desc{
    margin-top: 32px;
    color: rgb(255, 255, 255);
    width: 151px;
    height: 37px;
    font-size: 14px;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    padding: 0;
}
/* portfolio */
.portfolio_title{
    padding-top: 50px;
}
.portfolio {
    max-width: 570px;
    text-align: left;
}

.portfolio_desc {
    margin-top: 32px;
}
.about__flex {
    display: inline-flex;
}
.about__flex-item {
    max-width: 300px;
    margin-right: 32px;
}
.img_portfolio {
    margin-top: 32px;
    position: relative;
    width: 242px;
    height: 300px;
}
.work_name {
    border: 1px solid black;
    padding: 10px 20px;
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;

}

/* sale */
.sale_title {
    padding-top: 50px;
}
.img_sale {
    margin-top: 50px;
    float: right;
    width: 800px;
    height: 260px;
    position: relative;
}
.sale_in {
    margin-top: 32px;
    max-width: 240px;
}
.circle{
    height: 70px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    margin-top: 100px;
}
.sale_price{
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 10px;
    transform: rotate(20deg);
}
