/* 
.inter-<uniquifier="header"> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */
 
 .header{
    color: rgba(181, 15, 0, 1);
 }